h1 {
    color: pink;
    font-family: tahoma;
    font-size: 50px;
    text-align: center;
}
h2 {
    color: pink;
    font-family: tahoma;
    font-size: 30px;
    text-align: center;
}
p {
    color: white;
    font-family: tahoma;
    font-size: 25px;
    text-align: center;

}
fieldset {
    font-family: tahoma;
    color: white;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: auto;


}
body {
    background-color: grey;
    
}

